[user]
    name = Dmitrii Banshchikov
    email = me@ubique.spb.ru

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[merge]
    tool = vimdiff

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch

[color]
    ui = auto

[log]
    decorate = true
    showSignature = true

[commit]
    gpgSign = false
